<h1>Messagerie</h1>
{{ form_start(form) }}
    {{ form_row(form.expediteur) }}
    {{ form_row(form.destinataire) }}
    {{ form_row(form.contenu) }}
    <button class='btn btn-primary'>Envoyer</button>
{{ form_end(form) }}
