{% extends 'base.html.twig' %}

{% block title %}Nouveau message{% endblock %}

{% block body %}
    <h1>Créer un nouveau message</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_message_index') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
{% endblock %}
